{% extends "base.html" %}
{% block title %}
Walldo
{% endblock %}
{% block content %}
<div class="container text-center" >
    <div class="row text-center">
        <div class="col-lg-12">
            <div id="bigMessage"></div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-12">
            <canvas id="theChart" width="400" height="150"></canvas>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6">
                <div class="card border-primary mb-3 btn" style="max-width: 100%;" onclick="window.location.href='/devices'">
                <div class="card-body text-primary">
                    <h5 class="card-title">Devices</h5>
                    <p class="card-text" style="font-size: 3rem;" id="numOfDevices"></p>
                </div>
                </div>
        </div>
        <div class="col-lg-6">
            <div class="card border-danger mb-3 btn" style="max-width: 100%;" onclick="window.location.href='/warnings'">
                <div class="card-body text-danger">
                    <h5 class="card-title">Warnings</h5>
                    <p class="card-text" style="font-size: 3rem;" id="numOfWarnings"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){

        getData();

        var ctx = document.getElementById('theChart').getContext('2d');
        var bigMessage = $('#bigMessage');
        var numOfDevices = $('#numOfDevices');
        var numOfWarnings = $('#numOfWarnings');

        var data = {
        labels: [],
        datasets: [{
                label: "Control wall",
                lineTension: 0.1,
                fill:false,
                backgroundColor: "rgba(225,0,0,0.4)",
                borderColor: "#ffb347", // The main line color
                borderCapStyle: 'square',
                borderDash: [], // try [5, 15] for instance
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "black",
                pointBackgroundColor: "white",
                pointBorderWidth: 1,
                pointHoverRadius: 8,
                pointHoverBackgroundColor: "yellow",
                pointHoverBorderColor: "brown",
                pointHoverBorderWidth: 2,
                pointRadius: 4,
                pointHitRadius: 10,
                data: [],
                spanGaps: true,
            },
            {
                label: "Wet wall",
                lineTension: 0.1,
                fill:false,
                backgroundColor: "rgba(225,0,0,0.4)",
                borderColor: "#aec6cf", // The main line color
                borderCapStyle: 'square',
                borderDash: [], // try [5, 15] for instance
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "black",
                pointBackgroundColor: "white",
                pointBorderWidth: 1,
                pointHoverRadius: 8,
                pointHoverBackgroundColor: "yellow",
                pointHoverBorderColor: "brown",
                pointHoverBorderWidth: 2,
                pointRadius: 4,
                pointHitRadius: 10,
                // notice the gap in the data and the spanGaps: true
                data: [],
                spanGaps: true,
            },
            {
                label: "Humidity threshold",
                borderColor: "#ff6961",
                backgroundColor: "#ff6961"
            }]
        };

        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                scales: {
                    yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        min: 0,
                        max: 100    
                    }
                            }],
                    xAxes: [{
                        type: 'time',
                            distribution: 'series',
                        time: {
                            displayFormats: {
                                    'millisecond': 'DD.MM.YYYY HH:mm',
                                    'second': 'DD.MM.YYYY HH:mm',
                                    'minute': 'DD.MM.YYYY HH:mm',
                                    'hour': 'DD.MM.YYYY HH:mm',
                                    'day': 'DD.MM.YYYY HH:mm',
                                    'week': 'DD.MM.YYYY HH:mm',
                                    'month': 'DD.MM.YYYY HH:mm',
                                    'quarter': 'DD.MM.YYYY HH:mm',
                                    'year': 'DD.MM.YYYY HH:mm',
                                }
                        },
                        ticks: {
                            autoSkip: true,
                            maxTicksLimit: 30
                        }
                    }]
                },
                annotation: {
                    annotations: [{
                        type: 'line',
                        mode: 'horizontal',
                        scaleID: 'y-axis-0',
                        value: 70,
                        borderColor: '#ff6961',
                        borderWidth: 3
                    }]
                }
            }
        });

        function getData(){
            //Update Graph
            $.ajax({
                url : '/api/chartdata',
                type: 'GET',
                success : function(data){

                    myLineChart.data.datasets[0].data = [];
                    myLineChart.data.datasets[1].data = [];

                    //device1 array
                    data[0].forEach(element => {
                        myLineChart.data.datasets[0].data.push({x:element.x,y:element.y});
                    });

                    //device2 array
                    data[1].forEach(element => {
                        myLineChart.data.datasets[1].data.push({x:element.x,y:element.y});
                    });

                    // re-render the chart
                    myLineChart.update();
                }
            })

            //Update particualtes
            $.ajax({
                url : '/api/index',
                type: 'GET',
                success : function(data){

                    if(data.humidityProblem == true)
                    {
                        bigMessage.html('<div class="alert alert-danger" role="alert"><h1 class="alert-heading" style="font-size: 6rem;color:red;">Humidity NOT OK</h1></div>');
                    }
                    else if(data.humidityProblem == false)
                    {
                        bigMessage.html('<div class="alert alert-success" role="alert"><h1 class="alert-heading" style="font-size: 6rem;color:green;">Humidity OK</h1></div>');
                    }
                    else{
                        bigMessage.html('<div class="alert alert-success" role="alert"><h1 class="alert-heading" style="font-size: 6rem;color:green;">Unable to get data</h1></div>');
                    }

                    numOfDevices.text(data.numberOfDevices);
                    numOfWarnings.text(data.numberOfWarnings);

                }
            })

            $.ajax({
                url : '/api/warnings_get_rooms',
                type : 'GET',
                success : function(data){
                    console.log(data)
                }
            })
        }

        setInterval(() => {
            getData()
        }, 5000);

    });
</script>
{% endblock %}
